.navbar{
    padding-left: 10px;
    padding-right: 10px;
}

.login{
    margin-right: 10px;
    margin-bottom: 10px;
}   


.layoutmain {
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}
