{% extends 'layout.html' %}
{% block maincontent %}
<main class="bd-content order-1 py-5 layoutmain" id="content">

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis ">
        <div class="col-lg-6 px-0">
            <h1 class="display-4 fst-italic">Welcome to StHub!</h1>
            <p class="lead my-3">Your one-stop solution for managing all aspects of student life, from tracking
                academics to managing projects and maintaining notes.</p>
            <p class="lead mb-0"><a href="#" draggable="false" class="text-body-emphasis fw-bold">Manage your
                    profile...</a></p>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-md-4 feature-box">
                <h2>Track Your Academics</h2>
                <p>Monitor your academic progress with personalized tools and reports.</p>
            </div>
            <div class="col-md-4 feature-box">
                <h2>Calculate Your CGPA</h2>
                <p>Use our CGPA calculator to keep track of your academic performance.</p>
            </div>
            <div class="col-md-4 feature-box">
                <h2>Maintain Notes</h2>
                <p>Keep all your study notes organized and easily accessible.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 feature-box">
                <h2>Manage Timetable</h2>
                <p>Plan and manage your schedule with our timetable feature.</p>
            </div>
            <div class="col-md-4 feature-box">
                <h2>Set Alerts</h2>
                <p>Receive alerts for important deadlines and tasks.</p>
            </div>
            <div class="col-md-4 feature-box">
                <h2>Track Projects</h2>
                <p>Keep track of your ongoing and upcoming projects.</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4 feature-box">
                <h2>External Courses</h2>
                <p>Manage and track your progress in external courses.</p>
            </div>
        </div>


    </div>
</main>
{% endblock %}